.experience {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #0d0508;
}

.experience canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}